<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <header>
      <div class="container flex">
        <a href="/users">
          <h2 class="logo">Home</h2>
        </a>
        <div>
          <a class="btn btn_primary" href="/login">Login</a>
          <a class="btn btn_primary" href="/register">Register</a>
          <a class="btn btn_primary" href="articles/new">Add Article</a>
        </div>
      </div>
    </header> -->
    <% include partials/header %>
    <div class="container">
      <h2 class="list_header">All Articles</h2>
      <% articles.forEach(article => { %>
      <section class="list">
        <div>
          <h3><%= article.title %></h3>
          <p class="list_text">
            <%= article.description.substr(0,200) + "..." %>
          </p>
        </div>
        <a href="/articles/<%= article.slug %>">
          <button class="btn btn_primary">Read</button>
        </a>
      </section>
      <% }) %>
    </div>
  </body>
</html>