<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <div class="container home">
        <h1 class="title">Welcome to Blog-11</h1>
        <a class="btn btn_primary" href="/users">Go</a>
      </div>
    </main>
  </body>
</html>