<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <header>
      <div class="container flex">
        <a href="/users">
          <h2 class="logo">Home</h2>
        </a>
        <div>
          <a class="btn btn_primary" href="/login">Login</a>
          <a class="btn btn_primary" href="/register">Register</a>
        </div>
      </div>
    </header> -->
    <% include partials/header %>
    <main>
      <div class="container">
        <div class="form">
          <h2>Login</h2>

          <div class="oAuth-container">
            <div>
              <a class="oAuth-btn oAuth-btn-google" href="/auth/google">
                <img class="oAuth-icon" src="/image/search.png" alt="" />
                <span>Sign In with Google</span>
              </a>
            </div>
            <a class="oAuth-btn oAuth-btn-github" href="/auth/github">
              <img class="oAuth-icon" src="/image/github.png" alt="" />
              <span>Sign In with Github</span>
            </a>
          </div>
          <% if(error){ %>
          <p class="text_error"><%= error %></p>
          <% } %>

          <form action="/users/login" method="POST">
            <input
              class="input_handle"
              type="email"
              name="email"
              placeholder="Email"
            />
            <input
              class="input_handle"
              type="password"
              name="password"
              placeholder="Password"
            />
            <button type="submit" class="btn btn_sub">Login</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>