<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <header>
      <div class="container flex">
        <a href="/users">
          <h2 class="logo">Home</h2>
        </a>
        <div>
          <a class="btn btn_primary" href="/articles">Back</a>
        </div>
      </div>
    </header> -->
    <% include partials/header %>
    <div class="form">
      <h2>Update Article</h2>
      <form action="/comments/<%= comment.id %>" method="POST">
        <textarea
          type="text"
          class="input_handle"
          rows="4"
          name="content"
          placeholder="Update Comment"
        >
         <%= comment.content %></textarea
        >
        <button type="submit" class="btn btn_sub">Update Comment</button>
      </form>
    </div>
  </body>
</html>