<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <header>
      <div class="container flex">
        <a href="/users">
          <h2 class="logo">Home</h2>
        </a>
        <div>
          <a class="btn btn_primary" href="users/login">Login</a>
          <a class="btn btn_primary" href="users/register">Register</a>
          <a class="btn btn_primary" href="articles/new">Add Article</a>
        </div>
      </div>
    </header> -->
    <% include partials/header %>
    <main>
      <div class="container">
        <h1 class="title">Welcome to Blog-11</h1>
      </div>
    </main>
  </body>
</html>